/**** GENERAL ****/

html, body {
  height: 100%;
  margin: 0;
  background-color: #f8f8ff;
}

.container {
  max-width: 90%;
  padding: 0px;
}

.navbar {
  background-color: transparent;
  border: none;
  /*padding: 10px;*/
  margin-bottom: 0;
}

.navbar h1, .navbar h3 {
  color: black;
}

.navbar h3 {
  padding-top: 7px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  height: 650px;
}

.footer {
  height: 50px;
  text-align: center;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.footer p {
  padding: 17px;
  margin-bottom: 0;
}


/**** MEDIA QUERIES ****/

@media only screen and (max-width: 767px) {
  .navbar h3 {
    display: inline-block;
  }
}
