/**** GENERAL  ****/

.container {
  margin: 25px auto;
  padding: 10px auto;
}

hr {
  border: 0;
  height: 1px;
  margin: 0px 0px 25px 0px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #c59a6d, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #c59a6d, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #c59a6d, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #c59a6d, #f0f0f0);
}

.page-break {
  width: 100%;
  height: 100px;
  margin: 50px 0;
  background-color: #c59a6d;
}

.page-break {
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}


/**** NAVBAR  ****/

.navbar {
  background-color: transparent;
}

.navbar-description {
  text-align: right;
  margin: 12px 0;
}


/**** WRITING STATEMENTS  ****/

.jumbotron {
  background-color: #c59a6d;
}

.lead {
  text-align: center;
}

.writing-statement {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}


/**** FEATURES  ****/

.features {
  text-align: center;
}

.features div {
  margin: 110px 0px;
  padding: 60px 45px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.features div:hover {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  /*box-shadow: 0px 2px 8px 1px rgba(198, 155, 110, 0.5);*/
}

/**** ZIGGEO VIDEO  ****/

.video-statement {
  width: 100%;
  text-align: center;
  margin: -15px 0px 35px 0;
}

.ziggeo-video-playing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.youtube-video-playing {
  text-align: center;
  margin-top: -50px;
}

iframe {
  width: 600px;
  height: 275px;
  margin: 0 auto;
  frameborder: 0;
}


/**** SPEECH TRANSCRIPTION ****/

#transcript {
  margin: 10px auto 76px auto;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: lightgray;
}

.button {
  background: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px lightgray;
  letter-spacing: normal;
}

.center {
  padding: 10px;
  text-align: center;
}

.final {
  color: black;
  padding-right: 3px;
}

.interim {
  color: gray;
}

.right {
  float: right;
}

.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}

#headline {
  font-size: 40px;
  font-weight: 300;
}

#info {
  margin: -20px 0 30px 0;
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}

#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #c59a6d;
  padding: 15px;
  text-align: left;
  min-height: 350px;
  width: auto;
}

#start_button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

#start_img:focus, #start_button {
  outline: none;
}


/**** TEXT TRANSLATION ****/

.text-translation-initial, .text-translation-final {
  text-align: center;
  margin-bottom: 124px;
}

.text-translation-initial b, .text-translation-final b {
  margin: -20px 0 30px 0;
}

textarea, blockquote {
  padding: 5px;
  margin: 45px auto 15px auto
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #c59a6d;
  /*margin: 1.5em 10px;
  padding: 0.5em 10px;*/
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
  font-size: 20px;
}


/**** FOOTER ****/

.footer {
  width: 100%;
  background-color: rgba(198, 155, 110, 0.5);
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer, .push {
  height: 50px;
}

.footer p {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 13px;
}
