.translational {
  margin: 15px auto 73px;
}

.translationalForm, .translationalText {
  padding: auto 10px;
}

#translated, #text {
  height: 350px;
  padding: 5px;
}

.targetlabel, .targetLang, .translateBtn {
  display: inline;
}

.targetLang {
  width: 50%;
  margin: 0 12%;
  text-align: center;
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 767px) {
  #translated, #text {
    height: 175px;
  }
}
