.recordingVideo {
  text-align: center;
  margin: 10px auto 30px;
}

.playingVideo {
  text-align: center;
  margin-bottom: 15px;
}

.ba-videorecorder-container {
  width: 345px;
  height: 258px;
}

.ba-videoplayer-theme-modern-container {
  width: 77.5%;
  height: 77.5%;
  text-align: center;
  margin: 0 auto;
}

.ba-videorecorder-container, .ba-videoplayer-theme-modern-container {
  padding: 5px;
  margin: auto;

}

iframe {
  width: 100%;
  min-height: 350px;
  border: none;
}
