.recordingVideo {
  text-align: center;
  margin: 10px auto 30px;
}

.ba-videorecorder-container {
  /*border: 5px #c59a6d solid;*/
  padding: 5px;
  width: 345px;
  height: 258px;
  margin: auto;
}

.videoOne, .videoTwo {
  margin-bottom: 15px;
}

iframe {
  width: 100%;
  min-height: 350px;
  border: none;
}
